.button {
  @include reset-button;
  //style
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  transition: color $trs1, border-color $trs1, background-color $trs1, opacity $trs1, visibility $trs1;
  height: 40px;
  line-height: 38px;
  padding: 0 15px;
  border-radius: 2px;
  min-width: 144px;
  font-weight: 400;

  .icon {
    height: 18px;
    width: 18px;
  }

  &_style-1 {
    border: 1px solid var(--main-elements-color, #2363D1);
    background-color: var(--color-button1-bg, transparent);
    color: var(--main-elements-color, #2363D1);
    &[data-touch], &[data-hover] {
      background-color: #E7EEF6;
      border-color: var(--main-elements-hover-color, #1C52AC);
    }
  }

  &_style-2 {
    border: 1px solid var(--main-elements-color, #2363D1);
    background-color: var(--main-elements-color, #2363D1);
    color: #fff;
    &[data-touch], &[data-hover] {
      background-color: var(--main-elements-hover-color, #1C52AC);
      border-color: var(--main-elements-hover-color, #1C52AC);
    }
  }

  &_disabled {
    border: 1px solid #767676;
    color: #fff;
    background-color: #767676;
    &[data-touch], &[data-hover] {
      background-color: #818181;
    }
  }

  &_xl {
    line-height: 46px;
    padding: 0 20px;
    height: 48px;
    font-size: 18px;
    .icon {
      height: 20px;
      width: 20px;
    }
  }

}

.test-1 {
  @include reset-button;
  font-size: 16px;
  font-weight: 700;
}

.test-2 {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

.button-theme {
  transition: color var(--trs-1), background-color var(--trs-1), border-color var(--trs-1) !important;
  border-style: solid !important;
  border-width: 1px !important;

  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
  border-color: var(--color-border) !important;

  &:hover, &[data-touch], &[data-hover] {
    color: var(--color-text-hover, var(--color-text)) !important;
    background-color: var(--color-background-hover, var(--color-background-hover)) !important;
    border-color: var(--color-border-hover, var(--color-border)) !important;
  }

  &_primary {
    --color-text: var(--color-button-primary-text, #fff);
    --color-background: var(--color-button-primary-background, #2363D1);
    --color-border: var(--color-button-primary-border, #2363D1);
    --color-text-hover: var(--color-button-primary-text-hover, var(--color-text));
    --color-background-hover: var(--color-button-primary-background-hover, var(--color-background));
    --color-border-hover: var(--color-button-primary-border-hover, var(--color-border));
  } 
  &_secondary {
    --color-text: var(--color-button-secondary-text, #2363D1);
    --color-background: var(--color-button-secondary-background, #fff);
    --color-border: var(--color-button-secondary-border, #B7CBE5);
    --color-text-hover: var(--color-button-secondary-text-hover, var(--color-text));
    --color-background-hover: var(--color-button-secondary-background-hover, var(--color-background));
    --color-border-hover: var(--color-button-secondary-border-hover, var(--color-border));
  }
  &_muted {
    --color-text: var(--color-button-muted-text, #fff);
    --color-background: var(--color-button-muted-background, #767676);
    --color-border: var(--color-button-muted-border, #767676);
    --color-text-hover: var(--color-button-muted-text-hover, var(--color-text));
    --color-background-hover: var(--color-button-muted-background-hover, var(--color-background));
    --color-border-hover: var(--color-button-muted-border-hover, var(--color-border));
  }
  &_callme {
    --color-text: var(--color-button-callme-text, #2363D1);
    --color-background: var(--color-button-callme-background, #fff);
    --color-border: var(--color-button-callme-border, #B7CBE5);
    --color-text-hover: var(--color-button-callme-text-hover, var(--color-text));
    --color-background-hover: var(--color-button-callme-background-hover, var(--color-background));
    --color-border-hover: var(--color-button-callme-border-hover, var(--color-border));
  }
  &_cart {
    --color-text: var(--color-button-cart-text, #fff);
    --color-background: var(--color-button-cart-background, #2363D1);
    --color-border: var(--color-button-cart-border, #2363D1);
    --color-text-hover: var(--color-button-cart-text-hover, var(--color-text));
    --color-background-hover: var(--color-button-cart-background-hover, var(--color-background));
    --color-border-hover: var(--color-button-cart-border-hover, var(--color-border));
  } 
}


.button-theme-secondary {

}