img {
  display: block;
  user-select: none;
  &.lazyload,
  &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs2, visibility $trs2, transform $trs1;
  }
}

//images
.image {
  display: block;
  position: relative;
  img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    margin: 0 !important;
  }
  &_contain,
  &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100% !important;
    }
  }
  &_cover {
    background-color: #d9d9de;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.image-zoom {
  overflow: hidden;
  .image {
    transition: transform $trs1;
    will-change: transform;
  }
  &[data-touch],
  &[data-hover] {
    .image {
      transform: scale(1.05);
    }
  }
}

[data-fancybox] {
  cursor: zoom-in;
}

.card-label {
  display: block;
  min-width: 50px;
  font-size: 12px;
  padding: 0 5px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  position: relative;
  &_style-sale {
    background-color: var(--color-label-sale, #ff9500);
  }
  &_style-hit {
    background-color: var(--color-label-hit, #3ec28f);
  }
  &_style-stock {
    background-color: var(--discount-tag-bg-color, #626262);
  }
}

.product-card-v2 {
  --pd: 10px;
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  .slick-slider & {
    display: flex !important;
  }
  &__link {
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__image {
    position: relative;
    z-index: 3;
    pointer-events: none;
    height: 170px;
    flex: 0 0 auto;
    .image {
      height: 100%;
      img {
        padding: var(--pd);
        transition: opacity $trs1, visibility $trs1, transform $trs1;
        will-change: transform;
        &:not(:first-child) {
          opacity: 0;
          visibility: hidden;
        }
      }
      &_no-image {
        background-color: #f5f5f5;
        img {
          padding: 25px !important;
        }
      }
    }
  }
  &__labels {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__label {
    padding: 0 8px;
    width: auto;
    font-weight: 500;
  }
  &__rating {
    position: absolute;
    width: 85px;
    height: auto;
    top: 5px;
    right: 5px;
    z-index: 2;
  }
  &__rating-stars {
    display: block;
    width: 100%;
    height: auto;
  }
  &__title {
    hyphens: auto;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex: 0 0 auto;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px var(--pd) var(--pd) var(--pd);
    position: relative;
    z-index: 3;
    pointer-events: none;
  }
  &__content-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--pd);
    pointer-events: all;
  }
  &__button {
    position: relative;
    z-index: 3;
  }
  &__cart-button {
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 0;
    .icon {
      width: 26px;
      height: 26px;
    }
    & > span {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      row-gap: 4px;
      span {
        line-height: 1;
        &:not(:last-child) {
          font-size: 10px;
        }
        &:not(:first-child) {
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
  &__pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
    gap: 6px;
  }
  &__pricing-txt {
    font-size: 12px;
    line-height: 1.25;
  }
  &__price {
    font-size: 20px;
    font-weight: 700;
    &.text-color-accent {
      span {
        color: $color-base-text;
      }
    }
    span {
      font-weight: normal;
      font-size: 16px;
    }
  }
  &__old-price {
    color: #767676;
    font-size: 16px;
    position: relative;
    padding: 0 3px;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #c43228;
      top: calc(45% - 1px);
      left: 0;
    }
  }
  &[data-touch],
  &[data-hover] {
    .product-card-v2__image {
      .image {
        img {
          transform: scale(1.05);
          &:not(:last-child) {
            opacity: 0;
            visibility: hidden;
          }
          &:not(:first-child) {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(sm) {
    background-color: #fff;
    border: 1px solid var(--color-card-border, #d9d9de);
    border-radius: 2px;
    transition: border-color $trs1;
    &[data-touch],
    &[data-hover] {
      border-color: var(--color-card-hover-border, #a7a7ab);
    }
  }
  @include media-breakpoint-down(sm) {
    --pd: 0;
    &__link {
      width: calc(100% + var(--grid-gutter-width));
      height: calc(100% + var(--grid-gutter-width));
      top: calc(var(--grid-gutter-width) / -2);
      left: calc(var(--grid-gutter-width) / -2);
    }
    &__content {
      padding-top: calc(var(--grid-gutter-width) / 2);
      padding-bottom: calc(var(--grid-gutter-width) / 2);
    }
    &__labels {
      bottom: calc(var(--grid-gutter-width) / 2);
    }
    &__rating {
      top: calc(var(--grid-gutter-width) / 2);
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + var(--grid-gutter-width) + 1px);
      height: 100%;
      left: calc((var(--grid-gutter-width) + 1px) / -2);
      background-color: #fff;
      border: 1px solid var(--color-card-border, #d9d9de);
      pointer-events: none;
    }
    &__title {
      font-size: 12px;
      margin-bottom: calc(var(--grid-gutter-width) / 2);
    }
    &__pricing-txt {
      font-size: 10px;
    }
    &__image {
      .image {
        width: calc(100% + var(--grid-gutter-width));
        margin-left: calc(var(--grid-gutter-width) / -2);
        img {
          padding: calc(var(--grid-gutter-width) / 2);
        }
      }
    }
    &__price {
      font-size: 16px;
      span {
        font-size: 12px;
      }
    }
    &__old-price {
      font-size: 12px;
    }
    &__buttons {
      gap: calc(var(--grid-gutter-width) / 2);
    }
    &__labels {
      gap: 2px;
    }
    &__label {
      font-size: 10px;
      line-height: 15px;
      padding: 0 5px;
    }
    &__button {
      height: 40px;
      line-height: 38px;
      padding: 0 10px;
      min-width: initial;
      font-size: 14px;
    }
    &__cart-button {
      padding: 0 10px;
      min-width: initial;
      height: 40px;
      line-height: 38px;
      .icon {
        width: 20px;
        height: 20px;
      }
      & > span {
        span {
          &:not(:last-child) {
            font-size: 8px;
          }
          &:not(:first-child) {
            font-size: 12px;
          }
        }
      }
    }
    &_type-1 {
      .gap-grid > & {
        &:not(:nth-child(1)):not(:nth-child(2)) {
          margin-top: calc(var(--grid-gutter-width) * -1 - 1px);
        }
      }
      .product-card-v2 {
        &__rating {
          right: 0;
        }
        &__image {
          height: 120px;
        }
      }
    }
    &_type-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--grid-gutter-width);
      min-height: 160px;
      .gap-grid > & {
        &:not(:nth-child(1)) {
          margin-top: calc(var(--grid-gutter-width) * -1 - 1px);
        }
      }
      .slider-constructor .slick-slide > div:not(:first-child) & {
        margin-top: calc(var(--grid-gutter-width) / -2 - 0.5px);
      }
      .slider-constructor .slick-slide > div:not(:last-child) & {
        margin-bottom: calc(var(--grid-gutter-width) / -2 - 0.5px);
      }
      .slider-constructor .slick-slide & {
        display: grid !important;
      }
      .product-card-v2 {
        &__image {
          height: 100%;
        }
        &__rating {
          right: initial;
          left: 0;
        }
      }
    }
  }
}

.content-placeholder {
  background: #b1b1b1;
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 20px;
  &::before {
    content: "";
    display: block;
    padding-top: 60%;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
  }
}

.content-image {
  display: block;
  overflow: hidden;
  position: relative;
}

.content-standard-box {
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
  }
}

.content-background-box {
  &__container {
    position: relative;
    min-height: 180px;
    height: 100%;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__text-content {
    position: relative;
    z-index: 3;
    padding: 25px 20px;
  }
}

.aside-banners-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

//new pc menu

//6 пунктов в столбце
.catalog-header-content__ul {
  max-height: 500px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}
//5 пунктов в столбце
.catalog-header-content__ul_5-items {
  max-height: 480px;
}
//4 пункта в столбце
.catalog-header-content__ul_4-items {
  max-height: 380px;
}
//3 пункта в столбце
.catalog-header-content__ul_3-items {
  max-height: 319px;
}
//2 пункта в столбце
.catalog-header-content__ul_2-items {
  max-height: 150px;
}

.catalog-header-content li {
  display: flex;
  align-items: center;
  height: 50px;
  width: 25%;
}
.yellow-logo {
  display: none;
}
//серый рубрикатор
.header_rubrikator_gray {
  .catalog-header-content {
    background-color: #474747;
    top: 80px;
  }

  .catalog-header-content__icon {
    flex-shrink: 0;
  }

  .catalog-header-content__icon_first {
    margin-right: 40px;
  }

  .catalog-header-content__icon_last {
    margin-left: 40px;
  }

  .menu-item__link-df-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  .catalog-header-content a {
    justify-content: space-between;
    padding-left: 0;
  }
  .catalog-header-content a:hover {
    background-color: transparent;
  }

  .menu-item__link-hover-color:hover {
    color: var(--active-orange);
  }

  .menu-item__link-hover-line {
    position: relative;
  }
  .menu-item__link-hover-line::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 1px;
    transition: all 0.3s;
    transform: scale(0);
  }

  .menu-item__link-hover-line:hover::after {
    background-color: var(--active-orange);
    transform: scale(1);
  }
  .menu-item-arrow-hover {
    position: relative;
  }

  .menu-item-arrow-hover::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translate(30px, -50%);
    background-image: url("../img/icons/hover-arrow.svg");
    width: 17px;
    height: 10px;
    background-size: contain;
    opacity: 0;
    transition: all 0.3s;
  }
  .menu-item__link:hover .menu-item-arrow-hover::after {
    transform: translate(10px, -50%);
    opacity: 1;
  }
  .catalog-header-content a::before {
    display: none;
  }
}

//серый хедер
.header_gray {
  .header-fixed-content {
    font-size: 14px;
    align-items: flex-start !important;
  }
  html,
  body,
  div,
  span,
  applet,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    font-size: 14px !important;
  }
  .white-logo {
    display: none;
  }
  .yellow-logo {
    display: block;
  }
  .header-search--inner {
    width: 100%;
    max-width: 290px;
  }
  .header-fixed-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
  }
  .burger {
    background-color: #ff5f00;
  }
  .burger::before {
    background-color: #ff5f00;
  }
  .burger::after {
    background-color: #ff5f00;
  }
  .catalog-inner-btn {
    background-color: #474747;
    border: 1px solid #7c8994;
    width: 200px !important;
  }
  .header-search {
    .icon-svg {
      transform: scale(-1, 1);
    }
    button {
      background-color: #2c2c2c;
      border: 1px solid #7c8994;
    }
  }
  .header-search button:hover .icon-svg {
    color: #ff5f00;
  }
  .header-search input {
    background-color: #2c2c2c;
    border: 1px solid #7c8994;
    border-right: none;
  }
  .header-phones__toggle::before {
    border-color: #ff5f00;
    animation: flickerOrange 1s linear infinite;
  }
  .header-phones__toggle::after {
    animation: flickerOrange 1s linear infinite;
    background-color: #ff5f00;
  }
  .header-body__content-right .icon svg {
    fill: transparent;
  }
  .header-user__link {
    color: #ff5f00;
  }
  .header-cart span.cart-number {
    background-color: transparent;
    width: 100%;
    color: #ff5f00;
  }
  .header-user__link .icon {
    margin-right: 2px;
  }
  .header-cart {
    padding-left: 27px;
  }
  .header-body__content {
    justify-content: flex-start;
  }

  .catalog-inner-btn {
    margin-right: 10px !important;
    margin-left: 60px;
  }
  .header-fixed-content {
    margin-left: auto;
  }
  .header-body__content-links {
    margin-left: 18px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .header-body__content-link {
    color: #fff;
    transition: all 0.3s;
    font-size: 14px;
  }
  .header-body__content-link:hover {
    color: #ff5f00;
    text-decoration: underline;
  }
  .header-body__content-link:not(:first-child) {
    margin-left: 15px;
  }
  .header-body__content-right {
    margin-left: 0;
    font-size: 12px;
    font-weight: bold;
  }
  .catalog-header-content ul {
    margin-top: -30px;
    max-width: 80%;
  }
  .header-body__content-right {
    margin-left: 15px !important;
  } 
  header.fixed:not(.header_landing) .header-body__content-right {
    margin-left: 0;
  }
  .header-user {
    margin-left: 0;
  }
}

@keyframes flickerOrange {
  0% {
    border-color: rgba(255, 255, 255, 0.555);
  }
  80% {
    border-color: #ff5f00;
  }
  100% {
    border-color: rgba(255, 255, 255, 0.555);
  }
}

.header_gray + main {
  padding-top: 80px;
}

.btn-arrow {
  color: #fff;
  padding-left: 25px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.btn-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url("../img/btn-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
