/* Slider */
.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
  outline: none;
  * {
    outline: none;
  }
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  display: flex;
  flex-wrap: nowrap;
}
.slick-slide {
  min-height: 1px;
  &.dragging img {
    pointer-events: none;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  z-index: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  li {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  button {
    width: 11px;
    height: 11px;
    background-color: #f3f6fb;
    border-radius: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-elements-color, #2363d1);
    font-size: 0;
    display: block;
    transition: border-color $trs1, background-color $trs1;
  }
  .slick-active {
    button {
      background-color: var(--main-elements-color, #2363d1);
    }
  }
}

.slider-constructor {
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity $trs1, visibility $trs1;
  &.visible,
  &.slick-initialized {
    opacity: 1;
    visibility: visible;
  }
  &.slick-initialized {
    display: block;
  }
  .slick-list {
    margin: 0 calc(var(--grid-gutter-width) / -2);
  }
  .slick-dots {
    position: relative;
    margin-top: 25px;
    bottom: initial;
    transform: initial;
    left: initial;
  }
  .slick-slide {
    flex: 0 0 auto;
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 20px;
    padding: 0 calc(var(--grid-gutter-width) / 2);
    & > div:not([class]) {
      display: flex;
      & > * {
        &:not(.product-card-v2) {
          display: block !important;
        }
      }
    }
  }
  &[data-adaptive-height] {
    .slick-slide {
      height: 100%;
    }
  }
  .slick-arrow {
    position: absolute;
    width: 40px;
    min-width: 40px;
    padding: 0;
    border-radius: 20px;
    z-index: 2;
    img,
    svg {
      display: block;
      width: 16px;
      height: 16px;
    }
  }
  .slick-prev,
  .slick-next {
    top: -60px;
  }
  .slick-prev {
    right: 50px;
  }
  .slick-next {
    right: 0;
  }
  @include media-breakpoint-up(sm) {
    &:not([data-no-arrows]) {
      .slick-dots {
        display: none !important;
      }
    }
    .slick-prev,
    .slick-next {
      display: flex !important;
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0 calc(var(--container-padding-x) * -1);
    padding: 0 var(--container-padding-x);
    overflow: hidden;
    .slick-list {
      overflow: visible !important;
    }
    .slick-slide {
      row-gap: var(--grid-gutter-width);
    }
    .slick-prev,
    .slick-next {
      display: none !important;
    }
  }
}

.banners-slider {
  .slick-track {
    margin: 0 auto;
  }
}

//swiper-sliders
.swiper {
  width: 100%;
}
.swiper-pagination-big-bottom {
  bottom: 100px !important;
  @media (max-width: 1024px) {
    bottom: 20px !important;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  opacity: 0.75;
  transition: all 0.3s;
  &:hover {
    color: var(--swiper-theme-color) !important;
    opacity: 1;
  }
}

.home-banner + .home-categories .grid {
  transform: translateY(-50%);
  position: relative;
  z-index: 10;
  flex-wrap: nowrap;
  justify-content: center;
  @media (max-width: 1024px) {
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    transform: none;
    flex-direction: column;
    align-items: center;
  }
}
.home-banner + .home-categories .grid_6items {
  @media (max-width: 1024px) {
    transform: none;
    flex-wrap: wrap;
    align-items: center;
    .home-categories__block {
      flex: 1 1 50%;
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 768px) {
    .home-categories__block {
      flex: 1 1 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.home-banner__content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  .btn-green {
    margin-left: 0;
  }
  @media(max-width:576px) {
    position: relative;
  }
  &-left {
    flex-basis: 50%;
    @media(max-width:576px) {
      flex-basis: auto;
    }
  }
  &-right {
    flex-basis: 50%;
    @media(max-width:576px) {
      flex-basis: auto;
    }
  }
  &-wrapper {
    background-color: #fff;
    padding: 15px;
    max-width: 420px;
  }
}

@media(max-width:576px) {
  .home-banner__slide .image_cover {
    position: relative;
    img {
      position: absolute !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.example-sidebar-wrapper {
  display: flex;
}
.example-sidebar {
  flex-basis: 20%;
  background-color: #ccc;
  margin-right: 15px;
  @media(max-width:576px) {
    display: none;
  }
}
.example-sidebar-menu {
  padding: 15px;
  display: flex;
  flex-direction: column;
  list-style: none;
  &__li {
    border-bottom: 1px solid #000;
    padding: 15px 0;

  }

  &__li:last-child {
    border: none;
  }

}

.example-h2 {
  padding: 40px 0;
}